@font-face{
    font-family: 'helvetica-neue-500';
    src:url("../fonts/HelveticaNeue-Medium.otf")
}
@font-face{
    font-family: 'helvetica-neue-700';
    src:url("../fonts/HelveticaNeue-Bold.otf")
}