@media screen and (max-width: 460px){
    .featured-item-content{
        -webkit-transform: translateY(68%);
            -ms-transform: translateY(68%);
                transform: translateY(68%);
    }
}
@media screen and (min-width: 768px){
    .featured-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .featured-item {
        margin: 0;
    }
    
@media screen and (min-width: 992px){
    .header-title h1{
        font-size: 4rem;
    }
    #navbar-show-btn{
        display: none;
    }
    #navbar-collapse{
        display: block!important;
        background-color: transparent;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        height: auto;
        padding: 0;
        position: static;
        width: 100%;
    }
    #navbar-close-btn{
        display: none;
    }
    .navbar-nav{
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 0;
    }
    .nav-item{
        margin: 0;
        margin-left: 2rem;
    }
    .navbar-cng .navbar-nav .nav-link{
        color: var(--dark);
    }

@media screen and (min-width: 1400px) {
    .featured-row{
        grid-template-columns: repeat(3, 1fr);
    }
  }
 }
}
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
@media screen and (min-width: 768px){
   .gallery-row, .popular-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .gallery-item{
        margin: 0;
    }
    .popular-row, .facts-row{
        gap: 0;
    }
    .facts-row{
        -webkit-column-gap: 5rem;
           -moz-column-gap: 5rem;
                column-gap: 5rem;
    }
    .popular-row {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .gallery-row{
        grid-template-columns: repeat(3, 1fr);
    }
    .popular-row{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}


