:root{
    --dark: #000000;
    --trans: all 0.3s ease-in-out;
    --color-gray: #171717;
    --color-light: #a8a29e;
    --color-white: #ffffff;
}
.container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
}
.navbar .container{
    justify-content: space-between;
}
.site-brand{
    color: var(--color-white);
    font-size: 2.4rem;
    text-transform: uppercase;
}
#navbar-show-btn{
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
    border: none;
}
/* navbar side menu */
#navbar-collapse{
    background-color: var(--dark);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    transform: translateX(100%);
    transition: var(--trans);
}
.navbar-collapse-rmw{
    transform: translateX(0)!important;
}
#navbar-close-btn{
    background: none;
    color: var(--color-white);
    width: 35px;
    height: 35px;
    font-size: 2rem;
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    border: none;
}
.nav-item{
    margin: 2rem 0;
}
.nav-link{
    color: var(--color-white);
    font-size: 1.2rem;
    transition: var(--trans);
}
.header-wrapper{
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/main/main.jpg) center/cover no-repeat;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
}
.header-title h1{
    font-size: 2.8rem;
    letter-spacing: 2px;
    padding: 18rem 0;
    text-transform: uppercase;           
}
.navbar-cng{
    background-color: var(--color-white);
}
.navbar-cng .site-brand{
    color: var(--dark);
}
.navbar-cng .site-brand span{
    color: var(--dark);
}
.navbar-cng #navbar-show-btn{
    color: var(--dark);
}
/* featured */
.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: var(--trans);
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: var(--color-white);
    width: 100%;
    padding: 1rem;
    -webkit-transform: translateY(68%);
        -ms-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
}
.featured-item-content .text{
    color: var(--color-white);
    transition: var(--trans);
}
.featured-item:hover .featured-item-content{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.py-4{
    padding: 2rem 0;
}
img{
    width: 100%;
    display: block;
}
.title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* video */
#video {
    padding:5rem 0;
}
.video-wrapper{
    height: 500px;
    position: relative;
    
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#play-btn{
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 70px;
    background-color: var(--green);
    color: var(--color-white);
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    padding-left: 0.4rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
#play-btn:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


/* for footer */
footer {
    width: 100%;
    color: var(--color-white);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-gray);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-light);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-light);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-white);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}




