/* header and navbar */
body{
    background-color: #dae4e3;
}
:root{
    --dark: #000000;
    --trans: all 0.3s ease-in-out;
    --color-gray: #171717;
    --color-light: #a8a29e;
    --color-white: #ffffff;
}
.container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
}
.navbar .container{
    justify-content: space-between;
}
.site-brand{
    color: var(--color-white);
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: 'helvetica-neue-700';
}
#navbar-show-btn{
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
    border: none;
}
/* navbar side menu */
#navbar-collapse{
    background-color: var(--dark);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    transform: translateX(100%);
    transition: var(--trans);
}
.navbar-collapse-rmw{
    transform: translateX(0)!important;
}
#navbar-close-btn{
    background: none;
    color: var(--color-white);
    width: 35px;
    height: 35px;
    font-size: 2rem;
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    border: none;
}
.nav-item{
    margin: 2rem 0;
}
.nav-link{
    color: var(--color-white);
    font-size: 1.2rem;
    transition: var(--trans);
    font-family: 'helvetica-neue-700';
}
.header-wrapper{
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/main/main.jpg) center/cover no-repeat;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
}
.header-title h1{
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 18rem 0;
    text-transform: uppercase;   
    font-family: 'helvetica-neue-700';        
}
.navbar-cng{
    background-color: var(--color-white);
}
.navbar-cng .site-brand{
    color: var(--dark);
}
.navbar-cng .site-brand span{
    color: var(--dark);
}
.navbar-cng #navbar-show-btn{
    color: var(--dark);
}
/* featured */
.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: var(--trans);
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: var(--color-white);
    width: 100%;
    padding: 1rem;
    -webkit-transform: translateY(68%);
        -ms-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
}
.featured-item-content .text{
    color: var(--color-white);
    transition: var(--trans);
}
.featured-item:hover .featured-item-content{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.py-4{
    padding: 2rem 0;
}
img{
    width: 100%;
    display: block;
}
.title-wrap{
    color:var(--dark);
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* video */
#video {
    padding:2rem 0;
}
.video-wrapper{
    height: 500px;
    position: relative;
    
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#play-btn{
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 70px;
    background-color: var(--green);
    color: var(--color-white);
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    padding-left: 0.4rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
#play-btn:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


/* for footer */
footer {
    margin-top: 2rem;
    width: 100%;
    color: var(--color-white);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color:var(--dark);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    font-family: 'helvetica-neue-700';
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-light);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #2b46c0;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-light);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

/* gallery */
.gallery-item{
    margin: 2rem 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    cursor: pointer;
}
.gallery-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.gallery-item img{
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.gallery-item:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.zoom-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    z-index: 2;
    opacity: 0;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.gallery-item:hover .zoom-icon{
    opacity: 1;
}

/* popular section */
#popular.py-4{
    padding-bottom: 0;
}

.popular-item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.popular-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.popular-item div{
    position: absolute;
    color: #fff;
    z-index: 2;
    bottom: -100%;
    width: 100%;
    padding: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.popular-item .rating{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0.7rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 0;
}

.popular-item:hover div{
    background-color: #fff;
    color: #000;
    bottom: 0;
    opacity: 0.95;
}

/* contact page  */
.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px rgb(17, 16, 16);
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    font-family: 'helvetica-neue-500';
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(22, 22, 22);
    padding: 0 10px;
}

.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    background: rgba(63, 114, 76, 0.7);
    font-family: 'helvetica-neue-500';
}
.form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(224, 223, 223);
}
.Registration{
    padding: 7rem 0;
}
/* for modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

  .contact-modal{
    padding: 2rem 0;
    font-size: 2rem;
}

.container-modal {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.contact-modal {
    margin-top: 50px;
    position: relative;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
  
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'helvetica-neue-500';
}
  
button:hover {
    background-color: #3e8e41;
}
  
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

  .modal-content {
    background-color: #fefefe;
    margin: 10;
  }